.select-multiple{
    margin: 10px;
    color: rgb(79, 12, 145);
}
.table-check{
    margin: 10px;
    color: rgb(17, 110, 17);
    border-collapse: collapse;
    margin-top: 10px;
}

table, td, th {
    border: 1px solid black;
}

.ul-global{
    color: rgb(112, 10, 15);
}
.dl-global{
    margin: 10px;
}
.dl-global > dt{
    color: rgb(15, 44, 112);
}
.dl-global > dd{
    color: rgb(112, 1, 82);
}
.radio-global{
    margin: 10px;
    color: rgb(5, 0, 67);
}
.checkbox-global{
    margin: 10px;
    color: rgb(53, 172, 0);
}
